.cartIcon {
  display: flex;
  align-items: center;
}
.cartIcon img {
  width: 2rem;
  height: auto;
}

.cartCount {
  font-size: 1rem;
  margin-left: 5px;
}

@media (max-width: 768px) {
  .cartIcon {
    display: block;
  }
}
