.headerBackground {
  width: 100%;
  background-color: #495e57;
  align-items: center;
  position: relative;
}

.headerContainer {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2% 10%;
}

.headerContent {
  width: 65%;
}

.headerImage {
  top: 20%;
  right: 10%;
  bottom: -7%;
  width: 250px;
  height: 300px;
  position: absolute;
}

.headerImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 13px;
}

@media (max-width: 768px) {
  .headerContent {
    text-align: left;
    width: 100%;
    padding-bottom: 10px;
  }

  .headerButton {
    padding: 10px 20px; /* Smaller padding */
  }

  .headerImage {
    display: none;
  }
}
