html {
  font-size: 16px; /* Base font size */
}

body {
  margin: 0;
  margin-top: 6rem;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #faf9f6;
  color: #495e57;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Minimum height of the viewport */
}

h1 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #f4ce14;
  font-size: 3rem;
}

h2,
h3 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: forestgreen;
  font-size: 2rem;
}
p {
  color: #faf9f6;
  font-size: 1rem;
}

a {
  color: #495e57;
}

nav,
footer {
  width: 100%;
  display: flex;
  padding: 2% 10%; /* 2% padding for top and bottom, 10% for left and right */
}

input,
button,
select,
textarea {
  font-family: inherit;
  height: 3rem;
  font-size: 1rem;
  color: #495e57;
}

button {
  align-items: center;
  background-color: #f4ce14;
  border-radius: 12px;
  color: #495e57;
  cursor: pointer;
  height: 3rem;
  justify-content: center;
  padding: 8px;
}

button:active,
button:hover {
  background-color: #495e57;
  color: #f4ce14;
}

.reservationForm button {
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 0px;
}
